In [1]:
import pandas as pd

### Data preparing

In [2]:
df = pd.read_csv('comments.csv')

In [3]:
df.head()

                                             comment  rating
0  прикольный и красивый смартфон, меня прям диза...       5
1                                                NaN       3
2                               Рекомендую, советую.       5
3         если бы не экран был бы отличным вариантом       2
4  Телефон супер! Работает ооочень долго, зарядил...       5

In [10]:
df.describe()

             rating
count  13658.000000
mean       4.240665
std        1.158139
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [7]:
df.rating.value_counts()

5    8233
4    2726
3    1170
2     811
1     718
Name: rating, dtype: int64

In [9]:
df.comment.isnull().sum()

1199

In [11]:
data = df.dropna()
data.describe()

             rating
count  12459.000000
mean       4.253712
std        1.153948
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [13]:
data.head()

                                             comment  rating
0  прикольный и красивый смартфон, меня прям диза...       5
2                               Рекомендую, советую.       5
3         если бы не экран был бы отличным вариантом       2
4  Телефон супер! Работает ооочень долго, зарядил...       5
5  Телефон супер! Заряд держит ооочень долго! Зар...       5

In [14]:
df.rating.value_counts()

5    8233
4    2726
3    1170
2     811
1     718
Name: rating, dtype: int64

In [16]:
#function to define sentiment
def get_sentiment(rating):
    if rating < 3:
        return "negative"
    elif rating == 3:
        return "neutral"
    elif rating > 3:
        return "positive"

In [17]:
data['sentiment'] = data.apply(lambda row: get_sentiment(row['rating']), axis=1)

C:\Users\dpivovar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [20]:
data[100:110]

                                               comment  rating sentiment
110  Купил я мобилку год назад 29.05.2016 за 22999р...       5  positive
111  Никому не рекомендую этот телефон! Буду отдава...       1  negative
112  Сто раз пожалела,что купила эту красивую игруш...       2  negative
113  Не рекомендую покупать красивую коробочку c эк...       2  negative
114  Не кому не советую данную модель. Кроме красив...       2  negative
115                               Знал бы , не взял!!!       2  negative
116                          Неплохой, красивый смарт.       4  positive
117  Очень обидно после столь короткого времени исп...       2  negative
119  Пользуюсь этой моделью меньше месяца. В дизайн...       5  positive
120  Месяц активно юзаю смартфон, очень доволен. По...       5  positive

In [21]:
#up to this moment data is well prepared, but positive records are dominated against negative

In [22]:
data.sentiment.value_counts()

positive    10046
negative     1355
neutral      1058
Name: sentiment, dtype: int64